# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Production build
/build

# Env files (keep keys secret)
.env
.env.*
!.env.example

# Logs
*.log

# Vercel
.vercel

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

#Project Graph
Project.tldr